<h1>Do You have An Idea that you want to get funded?</h1>
<p> TheMarketHub.com will help you fund and idea, build a following and market your idea out to the world!</p>
<hr/>

<% @ideas.each do |idea| %>
    <div class="row">
        
        <div class="col-md-2">
            <section class="marketer_info center">
                
            </section>
        
        </div>
        
        <div class="col-lg-8 well">
            <h4><%= link_to idea.name, "" %></h4>
            <p><%= idea.summary %></p>
            <p>
                <span class='quiet'><small> <%= time_ago_in_words(idea.created_at) %> ago</small></span>
            </p>
        </div>
    </div>
<% end %>
