<h1>Do You have An Idea that you want to get funded?</h1>
<p> TheMarketHub.com will help you fund and idea, build a following and market your idea out to the world!</p>
<hr/>
<iframe src="https://docs.google.com/presentation/d/1dOdvLJIZDQL-v4tEcDbxbqFwQNVw1BNDfypCmKfrNXM/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

<% @ideas.each do |idea| %>
    <div class= "row">
        
        <div class="col-md-2">
            <section class="marketer_info center">
                
            </section>
        
        </div>
        
        <div class="col-lg-8 well">
            <h4><%= link_to idea.name, "" %></h4>
            <p><%= idea.summary %></p>
            <p>
                <span class='quiet'><small> <%= time_ago_in_words(idea.created_at) %> ago</small></span>
            </p>
        </div>
    </div>
<% end %>
