<div class="center jumbotron">
    <h1> Welcome to The NexusHub App</h1>
    
    <h2>
        This is the home page for the professional ruby on rails developer course
    </h2>
    
    <%= link_to "Sign up now!", "", class: "btn btn-lg btn-success" %>
</div>
<div class= "row">
 <div class="col-lg-4">
  <h3 class="midrow">
    View NexusHub as Guest User
  </h3>
  <h2 class="left">Browse and Projects as a guest and Sign up Later</h2>
  <p><%= link_to "browse Project Listing", "", class: "btn btn-warning btin-small" %></p>
 </div>
  <div class="col-lg-4">
  <h3 class="midrow">
    View NexusHub as Guest User
  </h3>
  <h2 class="left">Browse and view Projects as a guest and Sign up Later</h2>
  <p><%= link_to "browse Project listing", "", class: "btn btn-warning btin-small" %></p>
 </div>
  <div class="col-lg-4">
  <h3 class="midrow">
    View NexusHub as Guest User
  </h3>
  <h2 class="left">Browse and view Projects as a guest and Sign up Later</h2>
  <p><%= link_to "browse Project Listing", "", class: "btn btn-warning btin-small" %></p>
 </div>
<iv class="media">
              <div class="media-left">
                <a href="https://vimeo.com/134056210">
                 <img class="media-object" src="..." alt="...">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">Media heading</h4>
</div>