<div class="center jumbotron">
    <h1> Welcome to The NexusHub App</h1>
    
    <h2>
        This is the home page for the professional ruby on rails developer course
    </h2>
    
    <%= link_to "Sign up now!", "", class: "btn btn-lg btn-success" %>
</div>
<div class= "row">
 <div class="col-lg-4">
  <h3 class="midrow">
    Music
  </h3>
  <h2 class="left">Sick of your favorite artist not coming to your city? Start a poll and gain votes to get your artist to come preform now!</h2>
  <p><%= link_to "browse Project Listing", "https://askbypoll.com/polls/231/do-you-want-trey-songz-to-come-to-seattle-and-woul", class: "btn btn-warning btin-small" %></p>
 </div>
  <div class="col-lg-4">
  <h3 class="midrow">
    Entrepreneur
  </h3>
  <h2 class="left">Have an idea for the next big business? Want to raise money for your business idea? vote for the best new Ideas and help market the crouwdfunder or take invest in the next big idea. Let's change the small business world for ever starting now!</h2>
  <p><%= link_to "browse Project listing", "https://nexushub45.herokuapp.com/ideas/", class: "btn btn-warning btin-small" %></p>
 </div>
  <div class="col-lg-4">
  <h3 class="midrow">
    Sports
  </h3>
  <h2 class="left">Want to Work in Sports Adversting, Broadcasting or Marketing but dont know where to start? Support local entrupuners and become a part of a sports based Startup! Help raise money, become and investor, get training, get a job in the Sport Media Indestry now!</h2>
  <p><%= link_to "browse Project Listing", "http://theumpcam01.businesscatalyst.com/", class: "btn btn-warning btin-small" %></p>
 </div>
<div class="media">
              <div class="media-left">
                <a href="https://vimeo.com/134056210">
                 <img class="media-object" src="MSGLogo_RockwellBold.png" alt="Logo_RockwellBold">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">Media heading</h4>
                <p>Want to Work In Sparts Adversting, Broudcasting or Mareting but dont know where to start? support local entrupuners and become a part of a sports based Startup! Help raise money, become and investor, get training, get a job in the Sport Media Indestry now!</p>
</div> 
 </div>
    <div class="col-md-4">
        <div id="fb-root"></div>
            <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
                fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>
        <div class="fb-post" data-href="https://www.facebook.com/childrenintheparkhomedaycare/posts/315469805277878" data-width="500"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/childrenintheparkhomedaycare/posts/315469805277878"><p>Be the first to know when we release a new video by subscribing to our official Facebook Developers YouTube channel!  http://www.youtube.com/facebookdevelopers</p>Posted by <a href="https://www.youtube.com/watch?v=T0qAjgQFR4c&list=PLkywm8Hnm8o2Mx9BgIAJPmQG2qiYTQL9k">Facebook Developers</a> on&nbsp;<a href="https://www.facebook.com/childrenintheparkhomedaycare/posts/315469805277878">Wednesday, May 29, 2013</a></blockquote></div></div>
        <div id="fb-root"></div>
    </div>
    <div class="col-md-4">
        <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
      <div class="fb-comments" data-href="https://www.facebook.com/pages/Unofficial-Muse/1489989524547281?ref=hl" data-numposts="5"></div>
      <div id="fb-root"></div>
        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
      <div class="fb-page" data-href="https://www.facebook.com/pages/Unofficial-Muse/1489989524547281?ref=hl" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/pages/Unofficial-Muse/1489989524547281?ref=hl"><a href="https://www.facebook.com/pages/Unofficial-Muse/1489989524547281?ref=hl">Unofficial: Muse</a></blockquote></div></div>
      <div id="fb-root"></div>
     </div>   
     <div class="col-md-4">   
        <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
       <div class="fb-post" data-href="https://www.facebook.com/1489989524547281/photos/a.1599959576883608.1073741830.1489989524547281/1604363719776527/?type=1&amp;theater" data-width="500">
       <div class="fb-xfbml-parse-ignore">
            <blockquote cite="https://www.facebook.com/permalink.php?story_fbid=1604363719776527&amp;id=1489989524547281&amp;substory_index=0">
                <p>
                    Meet the team :)  Three brother planing to change animation as we know it #newpixar #dreamworks #newgeneration

                    #KungfuPanda #Kungfu # Brucelee #Thewayofthedragon #Dreamworks
                </p>Posted by <a href="https://www.facebook.com/pages/Unofficial-Muse/1489989524547281">Unofficial: Muse</a> on&nbsp;<a href="https://www.facebook.com/permalink.php?story_fbid=1604363719776527&amp;id=1489989524547281&amp;substory_index=0">Thursday, May 21, 2015</a>
            </blockquote>
        </div>
        </div>
      </div>
</div>